<a [routerLink]=routeURL>
  <div class="px-10 bg-[#ffffff] onHoverMain w-[400px] h-[200px] py-10 gap-7 relative flex flex-col rounded-[16px] items-center justify-start hover:shadow-[0_0_50px_#FFFFFF40]">
    <h1 class="z-50 flex items-center text-center font-semibold text-[18px] capitalize">{{title}}</h1>
    <p class="z-50 text-wrap text-center text-[#4f4f4f] text-ellipsis">{{description}}</p>

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="white" class="size-6 absolute right-3.5 top-3.5 z-50">
      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
    </svg>

    <div class="absolute right-0 top-0 size-14 hoverAnimation duration-300 rounded-[0px_16px_0px_60%] bg-[#DA2127]"></div>
  </div>
</a>
