<div class="w-full h-full flex flex-col items-start justify-center relative snap-x scroll-smooth snap-center snap-mandatory">
  <app-navbar class="w-full absolute top-0 left-0 z-50"></app-navbar>
  <div class="w-screen h-screen pb-20 flex flex-col gap-10 items-center justify-start relative p-10" id="verticals">
    <p class="lineHover flex w-[550px] mt-20 items-center flex-col justify-center gap-3 text-white font-bold text-[40px] tracking-wide">Terms and Conditions <span class="border-[2px] w-full hoverLine duration-300 h-[1px] rounded-full border-[#DA2127]"></span></p>
    <div class="w-full h-full px-20 pt-5 text-white indent-10 text-justify leading-10 tracking-wide">
      {{termsAndCondition}}
    </div>
  </div>
</div>
