.hoverLine {
  animation: growLine 300ms linear;
  animation-timeline: view();
  animation-range: entry 0% cover 60%;
}

@keyframes growLine {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
