/* .lineHover:hover .hoverLine {
  @apply w-full
} */

b{
  @apply text-[#DA2127] text-[48px]
}

.titleCSS {
  color: #fff;
  font-weight: 500;
  line-height: 3.2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

.textRed{
  color: #DA2127;
  font-weight: 500;
  line-height: 3.2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}


.hoverLine {
  animation: growLine 300ms linear;
  animation-timeline: view();
  animation-range: entry 0% cover 60%;
}

@keyframes growLine {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
